body {
    background-image: url('https://i.pinimg.com/originals/1c/1d/7a/1c1d7a7fd81ff42a9275fd5a7ebfb597.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

.fightarea {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

#char,
#monster {
    flex: 1;
    background: linear-gradient(to right, rgb(243, 247, 242), #5f5); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    position: relative;
}

.lifebar {
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-bottom: 10px;
}

.lifebar .bar {
    height: inherit;
    background-color: red;
    border-radius: 20px;
}

.log {
    position: fixed;
    bottom: 8px; 
    left: 50%;
    transform: translateX(-50%);
    width: 90%; 
    max-width: 800px; 
    height: 200px;
    overflow: auto; 
    color: #ffffff; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
    padding: 10px; 
    border: 1px dotted #999; 
    text-align: center;
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#char .character-image img {
    position: absolute;
    bottom: calc(88% + 1px);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 110px;
    height: auto;
}

#monster .character-image img {
    position: absolute;
    bottom: calc(88% + 1px);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 150px;
    height: auto;
}
